
@media only screen and (min-width: 600px) {
    .w-md-auto {
        width: auto !important;
    }
}

#content {
    padding-top: 33px;
}

.home-btn {
    background-color: #246dff; 
    margin-top: 40px; 
    color: white; 
    border: none;
    margin-left: 5px;
    padding: 20px 47px;
    letter-spacing: 0.7px;
    margin-bottom: 10px;  
}


.con-wrap {
        padding-left: 60px; 
        padding-right: 60px;
}

.alert-pos {
    padding-left: 12px;
    padding-top: 20px;
}

.description {
    font-size: 16px; 
    font-family: 'Poppins'; 
    padding-top: 44px; 
    line-height: normal;
}
.btn-w-100 {
  width: 100%;
}
@media only screen and (min-width: 450px) {
   .btn-w-100 {
      width: auto;
      
  }
}
@media only screen and (min-width: 800px) {
    .con-wrap {
        padding-left: 170px; 
        padding-right: 170px;
    }
}

@media only screen and (min-width: 1550px) {
    .alert-pos {
        padding-left: 12px;
        padding-top: 94px;
    }
}
