.ads{
  .content{
    @media only screen and (max-width: 768px){
      padding-top: 50px;
    }
    @media only screen and (min-width: 768px){
      padding-top: 50px;
    }
    @include media-breakpoint-up(lg){
      padding-top: 65px;
    }
    @media only screen and (min-width: 1440px){
      padding-top: 80px;
    }
    @include media-breakpoint-up(xl) {
      padding-top: 110px;
    }
    .ads-title{
      font-family: "Inter";
      @media only screen and (min-width: 768px) {
        font-size: 2rem;
      }
      @include media-breakpoint-up(lg) {
        font-size: 2.5rem;
      }
      @media only screen and (min-width: 1440px) {
        font-size: 3.5rem;
      }
      @include media-breakpoint-up(xl) {
        font-size: 4.375rem;
      } 
    }
  }
}
  