

/*-----------------------------------------------------------------------------------
  colors.scss
-----------------------------------------------------------------------------------*/

.bg-light-blue{
  background-color: #246dff;
}
.bg-light-red{
  background-color: #ff2424;
}
.text-light-red{
  color: #ff2424;
}

.text-white{
  color: white;
  &::placeholder{
    color: white;
  };
}