#contact-wrapper {
    padding: 125px;
}

#section-1 {
    @media (min-width: 1200px) {
        width: 620px;
        padding-right: 125px;
    }
}

#section-2 {
    @media (min-width: 1200px) {
        width: 960px;
    }
}

.float-input {
    border-bottom: 1px solid grey;
    display: flex;
    flex-direction: row;
    
    input {
        border: none;
        text-align: right;
        flex-grow: 1;

        &.danger {
            color: $theme-color;
        }
    }

    font-family: $body-font;
    font-size: 1.52rem;
}