
/* ----------------------------------------------------------------

	extras.scss

-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Extra Styles
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Add here extra styles for demo. Thanks!
-----------------------------------------------------------------*/
.collection-thumbnail {
	position: absolute;
	right: 15rem;
	bottom: 0;
	z-index: -1;
}


.brand{
    aspect-ratio: 1.1;
    box-shadow: 1px 1px 20px #f0f0f0;

  }
  .brand-calvin-klein{
    background-image: url('../images/feature_brand/brand3.png');
    background-size: 100% 100%; 
  }
