
/* ----------------------------------------------------------------

	extras.scss

-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Extra Styles
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Add here extra styles for demo. Thanks!
-----------------------------------------------------------------*/
.slick-arrow{
	display: none!important;
}
.section-bg-img{
	min-height: 30rem;
}

.divide-line {
	@include media-breakpoint-up(xl) {
		&::after {
			content: '';
			position: absolute;
			right: 1rem;
			top: 0;
			height: 100%;
			padding: 2rem 0;
			border-right: 1px solid rgb(222, 226, 230);
			display: block;
			opacity: 0.3;
		}
	}
}

.absolute-full{
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.breadcrumb {
  font-size: 1rem;
  font-family: $body-font;
  padding-top: 30px;

  .line{
  	width: 20px;
  	margin-right: 0.875rem;
  	margin-left: 0.875rem;
		color: #246dff;
		opacity: 1;
  }
}

.border-top {
	border-top: 1px solid rgba($color: #dee2e6, $alpha: 0.3) !important;
}

#content {
	margin-top: 34px;
	padding-bottom: 130px;
	.container-fluid {
		padding: 0px;
		.contact_information  {
			padding-left: 168px;
			padding-right: 158px;
			.title {
				p {
					font-family: 'Inter';
					font-weight: 1000;
					text-transform: uppercase;
					font-size: 4.375rem;
					letter-spacing: 0px;
					color: black;
					margin-top: 44px;
					margin-bottom: 0px;
				}
			}
			.information {
				margin-top: -11px;
			}
			.description {
				font-family: Poppins;
				font-size: 1rem;
				line-height: 24px;
				padding-right: 68px;
				color: black;
			}
			.contact {
				padding-left: 53px;
				.small-title {
					font-family: Poppins;
					position: relative;
					top: -6px;
					font-size: 1.125rem;
					color: rgb(37, 109, 255);
				}
				.contact_content {
					font-family: Inter;
					font-weight: Regular;
					position: relative;
					top: -23px;
					left: -2px;
					font-size: 2.5rem;
					line-height: 53px;
					color: black;
					div {
						display: flex;
						flex-direction: row;
						align-items: flex-end;
					}
					p {
						margin: 0px;
					}
				}
			}
			.location {
				padding-left: 1px;
				.small-title {
					font-family: Poppins;
					position: relative;
					top: -6px;
					left: 1px;
					font-size: 1.125rem;
					color: rgb(37, 109, 255);
				}
				.location_content {
					font-family: Inter;
					position: relative;
					top: -23px;
					font-size: 2.5rem;
					line-height: 53px;
					color: black;
					p {
						margin: 0px;
					}
				}
			}
		} 
		.map {
			margin-top: 27px;
			.row {
				margin: 0px;
				.col-lg-12 {
					padding: 0px;
					img {
						width: 100%;
						}
					}
				}
			}
		.send {
				padding-left: 170px;
				padding-right: 170px;
				margin-top: 64px;
				.sofa {
					padding-left: 10px;
					img {
						width: 100%;
					}
				}
				.insert {
					input {
						width: 100%;
						height: 71px;
						margin-top: 1px;
						padding-left: 28px;
						border: 2px solid #e5e5e5;
						.col-lg-6 {
							padding-right: 10px;
						}
					}
					input::placeholder {
						font-size: 0.875rem;
					  font-family: "Inter";
					  color: rgba(0, 0, 0, 0.502);
					}
				}
				.message {
					margin-top: 20px;
					textarea {
						width: 100%;
						height: 148px;
						padding-left: 28px;
						border: 2px solid #e5e5e5;
					}
					textarea::placeholder {
						padding-top: 15px;
						font-size: 0.875rem;
					  font-family: "Inter";
					  color: rgba(0, 0, 0, 0.502);
					}
				}
				.contact-btn {
					margin-top: 25px;
					input {
						width: 200px;
						height: 70px;
						background-color: #246dff;
						border: none;
						color: rgb(241, 246, 255);
						font-size: 0.875rem;
						font-family: "Inter";
					}
					p {
						font-family: "Inter";
						line-height: 21px;
						font-size: 0.875rem;
						margin-top: 3px;
						margin-bottom: 0px;
						padding-right: 376px;
						color: rgb(169, 169, 169);
						span {
							border-bottom: solid 1px #7f7f7f;
						}
					}
				}
			}
	}

}
.pr-10 {
	padding-right: 10px;
}
.pl-10 {
	padding-left: 10px;
}
.pl-14 {
	padding-left: 14px;
}
////////////
@media (max-width: 1911px) {
	.title {
		p {
			font-size: 3.75rem!important;
		}
	}
	.contact_content {
		font-size: 1.875rem!important;
	}
	.location_content {
		font-size: 1.875rem!important;
	}
	.contact-btn {
		input {
			width: 100%!important;
		}
		.btn_content {
			p {
				padding-right: 150px!important;
			}
		}
	}
}
@media (max-width: 1603px) {
	.title {
		p {
			font-size: 3.4375rem!important;
		}
	}
	.description {
		padding-right: 0px!important;
	}
	.contact_content {
		font-size: 1.5625rem!important;
	}
	.location_content {
		font-size: 1.5625rem!important;
	}
	.contact-btn {
		input {
			font-size: 0.8125rem!important;
			height: 60px!important;
		}
		.btn_content {
			p {
				padding-right: 0px!important;
			}
		}
	}
}
@media (max-width: 1410px) {
	.title {
		p {
			font-size: 2.8125rem!important;
		}
	}
	.description {
		font-size: 0.875rem!important;
	}
	.contact_content {
		font-size: 1.25rem!important;
	}
	.location_content {
		font-size: 1.25rem!important;
	}
	.contact-btn {
		input {
			font-size: 0.75rem!important;
			height: 50px!important;
		}
	}
}
@media (max-width: 1263px) {
	.title {
		p {
			font-size: 2.1875rem!important;
		}
	}
	.description {
		font-size: 0.75rem!important;
	}
	.contact {
		padding-left: 0px!important;
	}
	.contact_content {
		font-size: 0.9375rem!important;
	}
	.location_content {
		font-size: 0.9375rem!important;
	}
	.insert {
		input {
			height: 50px!important;
		}
	}
	.location {
		padding-left: 0px!important;
	}
	.message {
		textarea {
			height: 100px!important;
		}
	}
	.contact-btn {
		input {
			font-size: 0.5625rem!important;
			width: 100px!important;
			height: 50px!important;
		}
		.btn_content {
			p {
				padding-left: 30px!important;
				margin-top: -6px!important;
			}
		}
	}
}
@media (max-width: 991px) {
	.contact_information {
		text-align: center;
	}
	.pr-10 {
		padding-right: 25px!important;
	}
	.pl-10 {
		padding-left: 25px!important;
	}
	.contact-btn {
		input {
			width: 100%!important;
		}
		.btn_content {
			margin-top: 10px;
			text-align: center;
			p {
				padding-left: 10px!important;
			}
		}
	}
	.insert {
		input {
			margin-bottom: 20px;
		}
	}
}
@media (max-width: 635px) {
	.contact_information {
		text-align: center;
		padding-left: 20px!important;
		padding-right: 20px!important;
	}
	.send {
		padding-left: 20px!important;
		padding-right: 20px!important;
	}
	.contact-btn {
		input {
			height: 39px!important;
		}
	}
	.pr-10 {
		padding-right: 25px!important;
	}
	.pl-10 {
		padding-left: 25px!important;
	}
	.insert {
		input {
			margin-bottom: 20px;
		}
	}
}

@media only screen and (max-width: 1440px) {
	#content {
		margin-top: 15px;
		padding-bottom: 40px;
	}
	.contact_information {
		padding-left: 50px!important;
		padding-right: 50px!important;
	}
	.send {
		padding-left: 50px!important;
		padding-right: 50px!important;
	}
}

@media only screen and (max-width: 768px) {
	#content {
		margin-top: 10px;
		padding-bottom: 20px;
	}
	.contact_information {
		padding-left: 20px!important;
		padding-right: 20px!important;
	}
	.contact_content {
		.number {
			justify-content: center;
		}
	}
	.btn_content {
		margin-top: 20px!important;
	}
	.sofa {
		padding-left: 0px!important;
		margin-top: 20px;
	}
}