
/* ----------------------------------------------------------------

	footer.scss

-----------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Footer
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Add here styles for footer. Thanks!
-----------------------------------------------------------------*/

#footer {
	background-color: #151515;
}

#footer-main {
	font-size: 0.9375rem;
	padding-top: 4.375rem;
	padding-bottom: 4.375rem;
}

#footer-bottom {
	padding-top: 2.375rem;
	padding-bottom: 4.375rem;
}
