
/* ----------------------------------------------------------------

	header.scss

-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Header
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Add here styles for header. Thanks!
-----------------------------------------------------------------*/


#header {
	position: relative;
	background-color: #000000;
	color: #cbcbcb;
	
	@include media-breakpoint-up(xl) {
		padding-top: 2rem;
		padding-bottom: 2.5rem;
		padding-left: 170px;
		padding-right: 170px;
	}
}

.navbar-brand {
	position: relative;
	padding: 0;

	@include media-breakpoint-up(xl) {
		left: calc(50% );
		position: absolute;
	}
	margin: 0rem;

	@include media-breakpoint-down(xl) {
		margin-left: auto;
		margin-right: auto;
	}

	img {
		margin-top: $spacer * 1.5;
		margin-bottom: $spacer * 2;
		width: 6.5rem;
	}
}


.left-header-content {
	i {
		margin-right: 0.75rem;
	}

	@include media-breakpoint-up(xl) {
		display: flex;
		.navbar-menu {
			margin-right: 39px;
		}
		.contact-number {
			margin-right: 39px;
			span {
				margin-left: 8px;
			}
		}
		.search-box {
			span {
				margin-left: 18px
			}
		}
	}
}		

.right-header-content {
	display: flex;
	@include media-breakpoint-up(xl) {
			
				.shopping-cart {
					margin-right: 56px;
				}
				.favourite {
					margin-right: 53px;
				}
			}
			@media only screen and (max-width: 1200px) {
				.user-login {
				}
				.shopping-cart {
					margin-right: 50px
				}
				.favourite {
					margin-right: 50px;
				}
			}
}
/* ----------------------------------------------------------------
	Sticky Header
-----------------------------------------------------------------*/

