.products{
  .product{

    background-color: #f3f3f3;

    min-height: 290px;

    @include media-breakpoint-down(sm) {
      min-height: 200px;
    }

    .top-symbols{
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-left: 30px;
      padding-right: 30px;
      height: 70px;
      @media only screen and (min-width: 1440px) and (max-width: 1919px){
        height: 50px;
        padding-left: 20px;
        padding-right: 20px;  
      }
      @media only screen and (max-width: 500px){
        height: 40px;
        padding-left: 10px;
        padding-right: 10px;  
      }
    }
    .content{
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
    }
    .safe{
      background-color: #ff2424;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      font-size: 0.7rem;
    }
    &.product-wide{
      .content{
        padding-left: 60px;
        @media only screen and (max-width: 500px){
          padding-left: 30px;
        }
      }
    }
  }

    
}
.featured-products{
  .product{
    .product-img{
      aspect-ratio: 1.2;
      display: flex;
      justify-content: center;
    }
    
    .overlay{
      display: none;
      position: absolute;
      left: 0px;
      bottom: 0px;
      right: 0px;
      top: 0px;
      justify-content: center;
      align-items: center;
      background-color: #ffffff80
    }
    &:hover{
      .overlay{
        display: flex;
      }
    }
  }
  .big-sale{
    aspect-ratio: 1;
    background-image: url('../images/featured products/big-sale.png');
    background-size: 100% 100%;
  }

  .brand{
    aspect-ratio: 1.1;
    box-shadow: 1px 1px 20px #f0f0f0;

  }
  .brand-calvin-klein{
    background-image: url('../images/feature_brand/brand3.png');
    background-size: 100% 100%; 
  }
}

