.px-6{
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}
.px-7{
  padding-left: 3rem;
  padding-right: 3rem;
}
.px-8{
  padding-left: 3.5rem;
  padding-right: 3.5rem;
}
.px-9{
  padding-left: 4rem;
  padding-right: 4rem;
}
.px-10{
  padding-left: 4.5rem;
  padding-right: 4.5rem;
}

.mx-6{
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}
.mx-7{
  margin-left: 3rem;
  margin-right: 3rem;
}
.mx-8{
  margin-left: 3.5rem;
  margin-right: 3.5rem;
}
.mx-9{
  margin-left: 4rem;
  margin-right: 4rem;
}
.mx-10{
  margin-left: 4.5rem;
  margin-right: 4.5rem;
}
.mt-6{
  margin-top: 2.5rem;
}
.mt-7{
  margin-top: 3rem;
}
.mt-8{
  margin-top: 3.5rem;
}
.mt-9{
  margin-top: 4rem;
}
.mt-10{
  margin-top: 4.5rem;
}
.mb-6{
  margin-bottom: 2.5rem;
}
.mb-7{
  margin-bottom: 3rem;
}
.mb-8{
  margin-bottom: 3.5rem;
}
.mb-9{
  margin-bottom: 4rem;
}
.mb-10{
  margin-bottom: 4.5rem;
}

.my-6{
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}
.my-7{
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.my-8{
  margin-top: 3.5rem;
  margin-bottom: 3.5rem;
}
.my-9{
  margin-top: 4rem;
  margin-bottom: 4rem;
}
.my-10{
  margin-top: 4.5rem;
  margin-bottom: 4.5rem;
}