.bg-blue {
  background-color: rgb(36, 109, 255);
}
.bg-gray {
  background-color: rgb(237, 237, 237);
}
.bg-lightgray {
  background-color: rgb(243, 243, 243);
}
.bg-red {
  background-color: rgb(255, 36, 36);
}
.bg-x-center {
  background-position-x: center;
}
.bg-y-95 {
  background-position-y: 95%;
}
.bg-no-repeat {
  background-repeat: no-repeat;
}
.bg-contain {
  background-size: contain;
}

.fs-16 {
  font-size: .625rem;
}
.fs-20 {
  font-size: .75rem;
}
.fs-25 {
  font-size: .9375rem;
}
.fs-35 {
  font-size: 1.3125rem;
}
.fs-40 {
  font-size: 1.5rem;
}
.fs-70 {
  font-size: 2.625rem;
}
.fwBold {
  font-weight: bold;
}
.mx--30 {
  margin-right: -.431rem;
  margin-left: -.431rem;
}
.me--30 {
  margin-right: -.431rem;
  margin-left: -.2156rem;
}
.ms--30 {
  margin-right: -.2156rem;
  margin-left: -.431rem;
}
.px-30 {
  padding-right: .431rem;
  padding-left: .431rem;
}
.text-black {
  color: rgb(0, 0, 0);
}
.text-black-80 {
  color: rgba(0, 0, 0, 0.8);
}
.text-blue {
  color: rgb(36, 109, 255);
}
.text-red {
  color: rgb(255, 36, 36) !important;
}
.w-172 {
  width: 172%;
}

.shadow-box {
  box-shadow: .3px .6px 7px 0 rgba(0, 0, 0, 0.05);
}
.wh-40 {
  width: .6rem;
  height: .6rem;
}
.wh-75 {
  width: 1.0781rem;
  height: 1.0781rem;
}

.container {
  max-width: none;
  padding-right: .6469rem;
  padding-left: .6469rem;
}
.top--60 {
  top: -60%;
}
.end--15 {
  right: -15%;
}
.bottom--19 {
  bottom: -19%;
}
.start--37 {
  left: -36.5%;
}
.lh-2 {
  line-height: 1.6;
}
.mt--2 {
  margin-top: -.5rem;
}
.mt--4 {
  margin-top: -1.25rem;
}
.mt--20 {
  margin-top: -.6rem;
}
.mt--24 {
  margin-top: -.75rem;
}
.me--3 {
  margin-right: -1rem !important;
}
.ms--3 {
  margin-left: -1rem;
}
.ms--23 {
  margin-left: -.3306rem;
}
.ms--48 {
  margin-left: -.75rem;
}
.mw-512 {
  max-width: 7.375rem;
}
.mh-600 {
  max-height: 8.6rem;
}
.pe-30 {
  padding-right: .431rem;
}
.pe-45 {
  padding-right: .6469rem;
}
.ps-45 {
  padding-left: .6469rem;
}

.w-250 {
  width: 3.594rem;
}

.about-our-store {
  margin-top: 200px;
}

@media (min-width: 576px) {
  .fs-16 {
    font-size: .75rem;
  }
  .fs-20 {
    font-size: .88rem;
  }
  .fs-25 {
    font-size: 1.0938rem;
  }
  .fs-35 {
    font-size: 1.5313rem;
  }
  .fs-40 {
    font-size: 1.8rem;
  }
  .fs-70 {
    font-size: 3.063rem;
  }
  .mx--30 {
    margin-right: -.75rem;
    margin-left: -.75rem;
  }
  .me--30 {
    margin-right: -.75rem;
    margin-left: -.375rem;
  }
  .ms--30 {
    margin-right: -.375rem;
    margin-left: -.75rem;
  }
  .px-30 {
    padding-right: .75rem;
    padding-left: .75rem;
  }
  .shadow-box {
    box-shadow: .6px 1px 12px 0 rgba(0, 0, 0, 0.05);
  }
  .wh-40 {
    width: 1rem;
    height: 1rem;
  }
  .wh-75 {
    width: 1.875rem;
    height: 1.875rem;
  }
  .container {
    padding-right: 1.125rem;
    padding-left: 1.125rem;
  }
  .mt--20 {
    margin-top: -1rem;
  }
  .mt--24 {
    margin-top: -1.25rem;
  }
  .ms--23 {
    margin-left: -.575rem;
  }
  .ms--48 {
    margin-left: -1.25rem;
  }
  .mw-512 {
    max-width: 12.75rem;
  }
  .mh-600 {
    max-height: 15rem;
  }
  .pe-30 {
    padding-right: .75rem;
  }
  .pe-45 {
    padding-right: 1.125rem;
  }
  .ps-45 {
    padding-left: 1.125rem;
  }
  .w-250 {
    width: 6.25rem;
  }
}

@media (min-width: 768px) {
  .fs-16 {
    font-size: .75rem;
  }
  .fs-20 {
    font-size: 1rem;
  }
  .fs-25 {
    font-size: 1.25rem;
  }
  .fs-35 {
    font-size: 1.75rem;
  }
  .fs-40 {
    font-size: 2rem;
  }
  .fs-70 {
    font-size: 3.5rem;
  }
  .mx--30 {
    margin-right: -1.031rem;
    margin-left: -1.031rem;
  }
  .me--30 {
    margin-right: -1.031rem;
    margin-left: -.5156rem;
  }
  .ms--30 {
    margin-right: -.5156rem;
    margin-left: -1.031rem;
  }
  .px-30 {
    padding-right: 1.031rem;
    padding-left: 1.031rem;
  }
  .shadow-box {
    box-shadow: .8px 2.1px 23px 0 rgba(0, 0, 0, 0.05);
  }
  .wh-40 {
    width: 1.4rem;
    height: 1.4rem;
  }
  .wh-75 {
    width: 2.5781rem;
    height: 2.5781rem;
  }
  .container {
    padding-right: 1.5469rem;
    padding-left: 1.5469rem;
  }
  .mt--20 {
    margin-top: -1.4rem;
  }
  .mt--24 {
    margin-top: -1.625rem;
  }
  .ms--23 {
    margin-left: -.7906rem;
  }
  .ms--48 {
    margin-left: -1.625rem;
  }
  .mw-512 {
    max-width: 17.625rem;
  }
  .mh-600 {
    max-height: 20.6rem;
  }
  .pe-30 {
    padding-right: 1.031rem;
  }
  .pe-45 {
    padding-right: 1.5469rem;
  }
  .ps-45 {
    padding-left: 1.5469rem;
  }
 
  .w-250 {
    width: 8.594rem;
  }
}

@media (min-width: 992px) {
  .fs-16 {
    font-size: .875rem;
  }
  .fs-20 {
    font-size: 1.06rem;
  }
  .fs-25 {
    font-size: 1.3281rem;
  }
  .fs-35 {
    font-size: 1.8594rem;
  }
  .fs-40 {
    font-size: 2.1rem;
  }
  .fs-70 {
    font-size: 3.719rem;
  }
  .mx--30 {
    margin-right: -1.313rem;
    margin-left: -1.313rem;
  }
  .me--30 {
    margin-right: -1.313rem;
    margin-left: -.6563rem;
  }
  .ms--30 {
    margin-right: -.6563rem;
    margin-left: -1.313rem;
  }
  .px-30 {
    padding-right: 1.313rem;
    padding-left: 1.313rem;
  }
  .shadow-box {
    box-shadow: 1.1px 1.8px 20px 0 rgba(0, 0, 0, 0.05);
  }
  .wh-40 {
    width: 1.8rem;
    height: 1.8rem;
  }
  .wh-75 {
    width: 3.2813rem;
    height: 3.2813rem;
  }
  .container {
    padding-right: 1.9688rem;
    padding-left: 1.9688rem;
  }
  .mt--20 {
    margin-top: -1.8rem;
  }
  .mt--24 {
    margin-top: -2.125rem;
  }
  .ms--23 {
    margin-left: -1.0063rem;
  }
  .ms--48 {
    margin-left: -2.125rem;
  }
  .mw-512 {
    max-width: 22.375rem;
  }
  .mh-600 {
    max-height: 26.3rem;
  }
  .pe-30 {
    padding-right: 1.313rem;
  }
  .pe-45 {
    padding-right: 1.9688rem;
  }
  .ps-45 {
    padding-left: 1.9688rem;
  }
 
  .w-250 {
    width: 10.938rem;
  }
}

@media (min-width: 1200px) {
  .fs-16 {
    font-size: .875rem;
  }
  .fs-20 {
    font-size: 1.16rem;
  }
  .fs-25 {
    font-size: 1.4509rem;
  }
  .fs-35 {
    font-size: 2.0313rem;
  }
  .fs-40 {
    font-size: 2.3rem;
  }
  .fs-70 {
    font-size: 4.063rem;
  }
  .mx--30 {
    margin-right: -1.607rem;
    margin-left: -1.607rem;
  }
  .me--30 {
    margin-right: -1.607rem;
    margin-left: -.8036rem;
  }
  .ms--30 {
    margin-right: -.8036rem;
    margin-left: -1.607rem;
  }
  .px-30 {
    padding-right: 1.607rem;
    padding-left: 1.607rem;
  }
  .shadow-box {
    box-shadow: 1.3px 2.2px 25px 0 rgba(0, 0, 0, 0.05);
  }
  .wh-40 {
    width: 2.1rem;
    height: 2.1rem;
  }
  .wh-75 {
    width: 4.0179rem;
    height: 4.0179rem;
  }
  .container {
    padding-right: 2.4107rem;
    padding-left: 2.4107rem;
  }
  .mt--20 {
    margin-top: -2.1rem;
  }
  .mt--24 {
    margin-top: -2.625rem;
  }
  .ms--23 {
    margin-left: -1.2321rem;
  }
  .ms--48 {
    margin-left: -2.625rem;
  }
  .mw-512 {
    max-width: 27.375rem;
  }
  .mh-600 {
    max-height: 32.1rem;
  }
  .pe-30 {
    padding-right: 1.607rem;
  }
  .pe-45 {
    padding-right: 2.4107rem;
  }
  .ps-45 {
    padding-left: 2.4107rem;
  }

  .w-250 {
    width: 13.393rem;
  }
}

@media (min-width: 1400px) {
  .fs-16 {
    font-size: 1rem;
  }
  .fs-20 {
    font-size: 1.25rem;
  }
  .fs-25 {
    font-size: 1.5625rem;
  }
  .fs-35 {
    font-size: 2.1875rem;
  }
  .fs-40 {
    font-size: 2.5rem;
  }
  .fs-70 {
    font-size: 4.375rem;
  }
  .mx--30 {
    margin-right: -1.875rem;
    margin-left: -1.875rem;
  }
  .me--30 {
    margin-right: -1.875rem;
    margin-left: -.9375rem;
  }
  .ms--30 {
    margin-right: -.9375rem;
    margin-left: -1.875rem;
  }
  .px-30 {
    padding-right: 1.875rem;
    padding-left: 1.875rem;
  }
  .shadow-box {
    box-shadow: 1.5px 2.6px 29px 0 rgba(0, 0, 0, 0.05);
  }
  .wh-40 {
    width: 2.5rem;
    height: 2.5rem;
  }
  .wh-75 {
    width: 4.6875rem;
    height: 4.6875rem;
  }
  .container {
    padding-right: 2.8125rem;
    padding-left: 2.8125rem;
  }
  .mt--20 {
    margin-top: -2.5rem;
  }
  .mt--24 {
    margin-top: -3rem;
  }
  .ms--23 {
    margin-left: -1.4375rem;
  }
  .ms--48 {
    margin-left: -3rem;
  }
  .mw-512 {
    max-width: 32rem;
  }
  .mh-600 {
    max-height: 37.5rem;
  }
  .pe-30 {
    padding-right: 1.875rem;
  }
  .pe-45 {
    padding-right: 2.8125rem;
  }
  .ps-45 {
    padding-left: 2.8125rem;
  }

  .w-250 {
    width: 15.625rem;
  }
}
