
/*-----------------------------------------------------------------------------------

	Shortcodes: headings.scss

-----------------------------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Heading Styles
-----------------------------------------------------------------*/


/* Heading Block - with Subtitle
-----------------------------------------------------------------*/

.heading-block { 
	margin-bottom: 4rem; 

	.title {		
		display: block;
		font-weight: 700;
		line-height: 1;
		margin-bottom: 0;
    	text-transform: uppercase;
		font-size: 4.375rem;
	}
}